<style>
    .footer__heading {
        font-size: 14px;
        text-transform: uppercase;
        color: white;
        font-weight: bold;
    }

    .footer-list {
        padding-left: 0;
        list-style: none;
    }

    .footer-item_link {
        text-decoration: none;
        color: #737373;
        font-weight: 600;

    }

    .footer-item_link:hover {
        text-decoration: none;
        color: #999;
    }
</style>

<footer class="mt-3" style="background-color: #000;">
    <div class="container-fluid pt-4" >
        <div class="row">
            <div class="col-xl-3 col-md-4 col-6 text-center">
                <div class="content">
                    <h5 class="footer__heading">GIỚI THIỆU</h5>
                    <ul class="footer-list">
                        <li class="footer-item"><a href="/" class="footer-item_link">Giới thiệu về chúng tôi</a></li>
                        <li class="footer-item"><a href="" class="footer-item_link">Tin tức</a></li>
                        <li class="footer-item"><a href="" class="footer-item_link">Tuyển dụng</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-6 text-center">
                <div class="content">
                    <h5 class="footer__heading">Chăm sóc khách hàng</h5>
                    <ul class="footer-list">
                        <li class="footer-item"><a href="" class="footer-item_link">Trung tâm trợ giúp</a></li>
                        <li class="footer-item"><a href="" class="footer-item_link">Hướng dẫn mua hàng</a></li>
                        <li class="footer-item"><a href="" class="footer-item_link">Điều khoản</a></li>
                    </ul>
                </div>
            </div>
             <div class="col-xl-3 col-md-4 col-6 text-center">
                <div class="content">
                    <h5 class="footer__heading">Theo dõi</h5>
                    <ul class="footer-list">
                        <li class="footer-item">
                            <a href="" class="footer-item_link">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                                Facebook
                            </a>
                        </li>
                        <li class="footer-item">
                            <a href="" class="footer-item_link">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                                Instagram
                            </a>
                        </li>
                        <li class="footer-item">
                            <a href="" class="footer-item_link">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                                LinkedIn
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-6 text-center">
                <div class="content">
                    <h5 class="footer__heading">Contact</h5>
                    <ul class="footer-list">
                        <li class="footer-item"><a href="" class="footer-item_link">New York, NY 10012, US</a></li>
                        <li class="footer-item"><a href="mailto:maducphong7@gmail.com" class="footer-item_link">maducphong7@gmail.com</a></li>
                        <li class="footer-item"><a href="" class="footer-item_link">+932 678 122</a></li>
                    </ul>
                </div>
            </div>
    
        </div>
    </div>
</footer>