<style>
    .slider {
        margin-left: -15px;
        margin-right: -15px;
        padding-top: 50%;
        background: url('/img/Home_Images/3-dac-diem-co-mot-khong-hai-cua-giay-the-thao-adidas-superstar-de-nghiem-nhien-tro-thanh-bieu-tuong-cua-thuong-hieu-medium.jpg') top center / cover no-repeat;
    }

    .content .content-section {
        width: 800px;
        max-width: 100%;
        padding: 64px 0 112px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 16px;
        padding-right: 16px;
    }

    .content-section_special{
        width: 800px;
        max-width: 100%;
        padding: 150px 0 112px;
       
        
    }

    .content .section-heading,
    .content .section-sub-heading {
        text-align: center;
    }

    .content .section-heading {
        font-size: 30px;
        font-weight: 500;
        letter-spacing: 2px;
    }

    .content .section-sub-heading {
        font-size: 15px;
        margin-top: 25px;
        font-style: italic;
        opacity: 0.6;
    }

    .content .about-text {
        font-size: 15px;
        margin-top: 25px;
        text-align: justify;
        line-height: 1.4;
    }

    .section_images {
        width: 200px;
        height: 200px;
        border: 1px solid white;
        border-radius: 50%;
        box-shadow: grey 0 0 10px;
    }

    .section_images-special_1 {
        width: 180px;
        height: 200px;
        border: 1px solid white;
        margin: 32px 5px;
       
    }

    .section_images-special_2 {
        width: 180px;
        height: 280px;
        border: 1px solid white;
       
    }
</style>
<div class="slider">

</div>

<div class="content">
    <div class="content-section">
        <h3 class="section-heading">The Adidas</h3>
        <p class="section-sub-heading">We love you</p>
        <p class="about-text">
            We have created a fictional cinema website. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>


        <div class="row text-center mt-4">
            <div class="col-xl-4">
                <img class="section_images" src="/img/Home_Images/df6f5d3c2cb0b8eae3f229a744a5c2dc.jpg" alt="">
            </div>

            <div class="col-xl-4">
                <img class="section_images"
                    src="/img/Home_Images/adidas-alphabounce-instinct-2018-gia-tot-nhat-tai-shop-nao-tai-tphcm.jpg"
                    alt="">
            </div>

            <div class="col-xl-4">
                <img class="section_images" src="/img/Home_Images/hinh_khoi_trong_thiet_ke_logo_bee_art02.png" alt="">
            </div>


        </div>

        <div class="content-section_special">
            <div class="row">
                <div class="col-xl-7 col-md-6 col-sm-12">
                    <h3 class="" style="color: darkcyan;">More Information <br /> About The Adidas Tradition</h3>
                    
                    <p class="about-text" style="margin-top: 30px;">
                        We have created a fictional cinema website. Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit, sed
                        do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                        nostrud
                        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                    </p>
                    <a href="/productUser" class="btn btn-danger mt-3">More Information</a>
                </div>
                <div class="col-xl-5 col-md-6 col-sm-12">
                    <div class="" style="display: flex;">
                        <img class="section_images-special_1" src="/img/Home_Images/df6f5d3c2cb0b8eae3f229a744a5c2dc.jpg" alt="">
                        <img class="section_images-special_2" src="/img/Home_Images/hinh_khoi_trong_thiet_ke_logo_bee_art02.png"
                            alt="">
                    </div>

                   

                 
                </div>
            </div>




        </div>

    </div>