<div class="mt-4">
    <h3>Add Category Name</h3>

    <form method="POST" action="/category/store">
        <div class="form-group">
            <label for="Category_Name">Name of Category</label>
            <input type="text" class="form-control" id="Category_Name" name="Category_Name">
        </div>


        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>